tfgyuguyghtml,
body{
  height: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #6c6f73;
}

h1,h2,h3,h4,h5{
  color: #333;
}
h6{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

img{
  max-width: 100%;
}

.blockquote{
  font-size: 1.6rem;
  color: #000000;
  border: none;
  padding: 0;
}

.blockquote-footer{
  margin: 1rem 0 0 ;
}

#stage{
  background: url(tes.jpg) center center no-repeat;
  background-size: cover;
  color: #212121;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-caption{
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1{
  color: #212121;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-content{
  padding: 8rem 0;
  overflow: hidden;

}

.feature-content img  {
  margin-bottom: -8rem;
}

.feature-twitter{
  background: #ececec;
}

.feature-dark{
  background: #FFE082;
  color: #424242;
}

#navbar{
  background-color: #212121;
}

#navbar a{
  color: white;
}

 #main-footer{
   background: #212121;
   color: white;
   padding: 6rem 0;
   font-size: 0.8rem;
 }

 #main-footer h6{
   color: #718FA9;
 }

 #main-footer a{
   color: #6C6F73;
 }

/* media query */
@media scream and ( min-width : 991px){
  .feature-content{
    display: flex;
    align-items: center;
  }
}
